<div class="submenu__selector">
    <div *ngFor="let type of types" [ngClass]="{'submenu__type--active': type.active }" (click)="onSelectType($event, type)" class="submenu__type">
        {{ type.title }}
    </div>
</div>
<ul class="submenu__list">
    <li *ngFor="let item of items | async" class="submenu__list-item">
        {{ item.title }}
        <span *ngIf="item.balance" [ngClass]="{'submenu__balance--negative': item.balance < 0 }" class="submenu__balance">
            {{ item.balance | appCurrency }}
        </span>
    </li>
</ul>
