@import '../../_variables';

.container {
    display: flex;
    align-items: stretch;

    height: 100%;
}

.side {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    padding: 24px;
}

.side--dark {
    color: $color-white;
    background: $text-color-dark;
}

.intro {
    justify-content: flex-end;
}

.main {
    margin: 0 0 4px;
}

.sub {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
}

.btn-wrapper {
    width: 100%;
}

.btn {
    display: block;
    padding: 8px 0;

    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn + .btn {
    border-top: 1px solid $text-color-dark;
}

.recent {
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
        border-top: 1px dashed $text-color-dark;
    }

    &__item:last-child {
        border-bottom: 1px dashed $text-color-dark;
    }

    &__link {
        cursor: pointer;
        display: block;
        padding: 8px 0;
    }

    &__link:hover {
        font-weight: bold;
        padding-left: 8px;
    }

    &__path {
        font-weight: normal;
        font-size: 10px;
        color: $text-color-muted;
    }
}
