$header-button-default: #5C9FE0;
$header-button-hover: #85B7E8;
$header-button-active: #296CAD;

.header {
    &__button {
        width: 32px;
        height: 28px;
        line-height: 28px;
        border-radius: 2px;
        text-align: center;
        background-color:   $header-button-default;
        transition: background-color 0.15s ease-in-out;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: $header-button-hover;
        }

        &:active {
            background-color: $header-button-active;
        }
    }
}
