<div class="container">
    <app-header id="header" (onAdd)="onHeaderAddClicked()"></app-header>
    <div [ngClass]="{ 'subheader--open': isSidebarOpen }" class="subheader">
        <div>
            Transaction
            <div class="accountname">in Girokonto easybank</div>
        </div>
    </div>
    <app-submenu id="submenu"
        [accounts]="accounts"
        [categories]="categories"
        (onSelect)="onSidebarItemSelected($event)"
        (onDeselect)="resetSelectedSidebarItems($event)">
    </app-submenu>
    <app-mainarea id="mainarea"
        [transactions]="transactions"
        [selected]="selectedTransaction"
        [selectedAccount]="selectedAccount"
        [selectedCategory]="selectedCategory"
        (onSelect)="onTransactionSelected($event[0])">
    </app-mainarea>
    <app-detailarea class="detailsarea"
        [accounts]="accounts"
        [categories]="categories"
        [transaction]="selectedTransaction"
        [ngClass]="{ 'detailsarea--open': isSidebarOpen }">
    </app-detailarea>
</div>
