<div class="container">
    <app-header id="header" (onAdd)="onHeaderAddClicked()"></app-header>
    <div [ngClass]="{ 'subheader--open': isSidebarOpen }" class="subheader">
        <div>
            Transaction
            <div class="accountname">in Girokonto easybank</div>
        </div>
    </div>
    <app-submenu id="submenu" (onSelect)="onSidebarItemSelected($event)"></app-submenu>
    <app-mainarea id="mainarea"></app-mainarea>
    <div [ngClass]="{ 'detailsarea--open': isSidebarOpen }" class="detailsarea">Detailsarea</div>
</div>
