<div class="container">
    <div id="header">
        Cashflow
        <a class="header__button">+</a>
    </div>
    <div id="subheader">
        <div>
            Transaction
            <div class="accountname">in Girokonto easybank</div>
        </div>
    </div>
    <div id="submenu">
        <div class="submenu__selector">
            <div class="submenu__item">Accounts</div>
            <div class="submenu__item submenu__item--active">Categories</div>
        </div>
        <ul class="submenu__list">
                <li class="submenu__list-item">Versicherungen <span class="submenu__amount">238,98 €</span></li>
                <li class="submenu__list-item">Tanken <span class="submenu__amount submenu__amount--negative">-47,30 €</span></li>
                <li class="submenu__list-item">Arbeit Essen</li>
                <li class="submenu__list-item">Sport <span class="submenu__amount submenu__amount--negative">19,99 €</span></li>
                <li class="submenu__list-item">Fortgehen</li>
                <li class="submenu__list-item">Videospiele</li>
                <li class="submenu__list-item">Motorrad <span class="submenu__amount">89,93 €</span></li>
            </ul>
    </div>
    <div id="mainarea">Mainarea</div>
    <div id="detailsarea">Detailsarea</div>
</div>
