<table class="transactions">
    <thead>
        <tr>
            <th>Status</th>
            <th>Date</th>
            <th>Payee</th>
            <th>Category</th>
            <th class="col-main">Notes</th>
            <th class="col-right">Amount</th>
            <th class="col-right">Running Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of transactionItems" [ngClass]="{ 'selected': t.isSelected }" (click)="onTransactionSelected(t)">
            <td>XXX</td>
            <td>{{ t.transaction.creationDate | date:'shortDate' }}</td>
            <td>{{ t.transaction.payee }}</td>
            <td>{{ t.transaction.category }}</td>
            <td class="col-main">{{ t.transaction.notes }}</td>
            <td class="col-right">{{ t.transaction.amount | appCurrency }}</td>
            <td class="col-right">XXX</td>
        </tr>
    </tbody>
</table>
