$detailsbackground: #F5F7FA;
$primary-color: #3386D8;
$secondary-color: #286BAC;
$headertext-color: #FFFFFF;
$shaded: #E7E9EC;
$table-divider-color: #B7BEC6;
$table-selected-color: #57687A;

$color-red: #ED254E;
$color-white: #FFFFFF;

$color-grey-border: #CFD4D9;
$text-color-light: #6F7E8D;
$text-color-dark: #3F5367;
$text-color-default: #0F2841;
$text-color-muted: #9FA9B3;
