@import "~opensans-npm-webfont/open_sans.css";
@import "~opensans-npm-webfont/open_sans_bold.css";

html, body {
    margin: 0;
    padding: 0;

    height: 100%;
}

body {
    font-family: 'Open Sans';
}
